<h1>ログイン画面</h1>
<%= form_with(scope: :session, url: sessions_new_path,local: true) do |f| %>
  <p>
    <%= f.label t('email') %>
    <%= f.email_field :email %>
  </p>
  <p>
  <%= f.label t('password') %>
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.submit t('submit') %>
  </p>
<% end %>