<%= form_with(model:@picture,local: true) do |form| %>
  <div class="field">
    <%= form.label :本文 %>
    <%= form.text_area :word %>
  </div>

  <div class="field">
    <%= form.label :画像 %>
    <%= image_tag(@picture.img.url) if @picture.image && @picture.image.url%>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= form.submit :投稿する %>
  </div>
<% end %>