<%= form_with(model:@picture,local: true,url:edit_picture_path) do |form| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :本文 %>
    <%= form.text_area :word %>
  </div>

  <div class="field">
    <%= form.label :画像 %>
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url%>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= form.submit :投稿する %>
  </div>
<% end %>